@import url('https://fonts.googleapis.com/css?family=Raleway:400,600i,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
	/* font-family: 'Roboto', sans-serif; */
	/* font-family: 'Raleway', sans-serif; */

*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #303030;
}
html{
	font-size: 10px;
	font-family: 'Raleway', sans-serif;
	color: #303030;
	margin: 0;
	padding: 0;
}

body{
	background-color: #eee;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.container{
	width: 80%;
	background-color: transparent;
	/* border: 1px solid purple; */
	margin: 0 auto;	
}


.header{
	display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
	font-family: 'Roboto', sans-serif;
	/* border: 1px solid purple; */
	padding: 30px 0;
}

.header__logo{
    left: 0;
	font-size: 4.8rem;
	font-weight: 900;
	/* border: 1px solid blue; */
}

.header__nav{
    right: 0;
	list-style-type: none;    
	/* border: 1px solid blue; */
	vertical-align: middle;
}

.header__nav ul li{
    display: inline-block;
    vertical-align: middle;
	font-size: 1.8rem;
	text-transform: capitalize;
	margin-top: 5px;
}

.header__nav ul li a{
    text-decoration: none;
    padding-left: 40px;
}
.header__nav ul li a .nav__img{
	width: 20px;
	height: 20px;
	margin-top: 3px;
	/* border: 1px solid red; */

}
.section{
	width: 100%;
	
}

.slider{
	position: relative;
	/* border: 1px solid purple; */

}

.product{
	display: flex;
    flex-wrap:  wrap;    
    justify-content: space-around;	
	/* max-height: 550px; */
	overflow: hidden;
	font-size: 0;
	margin: 45px 0;
	top: 0;
	/* border: 4px solid orange; */
}

.product__data{
	width: 50%;
	display: inline-block;
	/* border: 1px solid blue; */
	padding: 0;
}

.product__header{
	font-size: 15rem;
	font-weight: 900;
	padding: 0;
	margin: 0;
}

.product__info{
	font-size: 2.4rem;
	margin: 20px 0;
}

.product__link{
	font-size: 2.4rem;
	margin: 20px 0;
}

.product__link a{
	color: #e10011;
	font-weight: bold;
}

.product__image{
	width: 40%;
	padding-left: 30px;
	display: inline-block;
	/* border: 1px solid blue; */
}

.slider__dots{
	position: absolute;
    bottom: -40px;  
    left:0;
    right:0;
    margin: 0;
    padding: 0;
    text-align: center; 
	/* border: 1px solid red; */
}
.slider__dots ul li{
	display: inline-block;
	margin: 5px;
}
.slider__dots ul li a{
	font-size: 1rem;
	line-height: 1;
	display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #303030;
}
.slider__dots ul li a:hover,
.slider__dots ul li a:focus,
.slider__dots ul li a.active{
	background-color: #e10011;
}

.gallery{
	background-color: #fff;
}
.gallery__header{
	padding-top: 30px;
	font-size: 4.8rem;
}

.gallery__subtitle{	
	font-size: 1.8rem;
	padding: 0 320px;
}
.gallery-wrap{
	display: flex;
    flex-wrap:  wrap;    
    justify-content: space-between;
    padding: 75px;
}

.item{
	width: 330px;
	height: 390px;	
	position: relative;
    overflow: hidden;    
    vertical-align: top;
    margin-bottom: 40px;
    border-radius:  5px;
}
.item-wide{
	width: 65%;
	height: 100%;
    border: 1px solid #00f;
}

.item__img{
	min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.item__wide .item__img{
	width: 115%;
	height: 100%;
	font-size: 0;
}
.item__overlay{
	min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-151%, -50%);
	display: inline-block;
    background-color: #e10011;
    text-decoration: none;
    color: #fff;    
    transition: all .4s ease-in;
}

.item__info{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1;
    text-transform: capitalize;
	overflow: hidden;
	/* width: 225px; */
	padding: 270px 30px 10px 40px;	
	border-bottom: 4px solid #fff;
	/* border: 2px solid #00f; */
    
}
.item:hover .item__overlay{    
    transform: translate(-50%, -50%);
}

.item__info:before,
.item__info:after{
	content: '';
	display: inline-block;	
	background: #e10011;	
	position: absolute;
	top: 79%;
	height: 50px;
}
.item__info:before{
	width: 40px;	
	left: 0;
}
.item__info:after{
	width: 60%;
	right: 0;
}



